<template>

</template>

<script>
    export default {
        name: '{{ componentName }}',
        props: {

        },
        data: function() {
            return {

            }
        },
        methods: {

        }
    }
</script>

<style lang="{{ styleType }}">

</style>
