const state = {
    var: ''
}

const getters = {
    function() {

    }
}

const actions = {
    function() {

    }
}

// mutations
const mutations = {
    function() {
        
    }
}

export default {
    namespaced: true,
    state,
    getters,
    actions,
    mutations
}
